#contact {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10vh;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  @include respond(phone) {
    padding-bottom: 15rem;
  }

  // @include respond(tab-land) {
  //   padding: 10rem 0;
  //   clip-path: none;
  //   margin-top: 0;
  //   -webkit-clip-path: none;
  // }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: $default-font-size; // 2.4rem

      // Responsive for contact text
      // @include respond(phone) {
      //   font-size: 2rem;
      // }
    }

    &__form {
      text-align: left;
      margin: 1rem 3rem;

      &-wrapper {
        margin: auto;
        max-width: 550px;
      }

      // @include respond(tab-land) {
      //   margin: 1rem 4rem;
      // }

      // @include respond(tab-port) {
      //   margin: 1rem 2rem;
      // }

      // @include respond(phone) {
      //   margin: 1rem 1rem;
      // }

      &-label {
        width: 100%;
        font-size: $default-font-size; // 2rem

        // @include respond(phone) {
        //   font-size: 1.6rem;
        // }
      }

      // &input[type='text'],
      // &input[type='email'],
      // &textarea {
      //   background: #f0f3fa;
      //   font-size: $default-font-size;
      //   padding: 1rem;
      // }

      &-submit-btn {
        margin-top: 2rem;
        font-size: 2.4rem;

        /* &-input {
          // visibility: hidden;
          // z-index: 99;
          position: absolute;

          &:hover {
            cursor: pointer;
          }
        } */

        // Responsive for contact text
        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }
  }
}

form > span {
  padding: 0 !important;
  border: 0 !important;
}

input[type='submit'] {
  // background: none;
  // border: 2px solid $white-color !important;
  // padding: 0.8rem $default-font-size !important;
  // margin: 0 !important;
}
