#hero {
  background-color: $white-color;
  position: relative;
  color: $dark-blue-text;
  font-weight: 400;
  height: 67rem;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 60px 5rem 4rem 5rem;
  margin: 0;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /*background: url('../images/hero.jpg');
  background-position: right;
  background-size: 100%;*/

  @include respond(phone) {
    padding: 75px $default-font-size 0 $default-font-size;
  }
}

.hero-title {
  font-size: 5.6rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 2.5rem;

  @include respond(tab-land) {
    font-size: 3.5rem;
  }
  @include respond(tab-port) {
    font-size: 3.5rem;
    text-align: center;
  }
  @include respond(phone) {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  @include respond(phone-xs) {
    font-size: 2.8rem;
  }
}

.hero-subs-container {
  margin: 0;
}

.hero-sub {
  font-size: 3.9rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1.2rem;

  @include respond(tab-land) {
    font-size: 2.9rem;
  }
  @include respond(tab-port) {
    font-size: 2.4rem;
    text-align: center;
  }
  @include respond(phone) {
    font-size: 2.1rem;
    line-height: 1.5;
  }
  @include respond(phone-xs) {
    font-size: 1.8rem;
  }
}

.hero-sub-last {
  padding-top: 3%;
}

.hero-cta {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5rem;

  @include respond(tab-port) {
    justify-content: center;
  }

  & a {
    font-size: 2.4rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}

.hero-vid-col {
  background: pink;
}

.hero-vid-fade {
  background: purple;
}

.hero-vid-wrap {
  // width: 560px;
  // height: 315px;

  // margin: 0;
}

.hero-vid {
  // height: auto;
  // max-width: 100%;
  // object-fit: scale-down;
  // width: $hero-vid-w-desk;
  // max-width: 560px;
  // height: $hero-vid-h-desk;
  // max-height: 315px;

  // @media only screen and (max-width: 950px) {
  // width: calc($hero-vid-w-desk * 0.8); // 448px
  // height: calc($hero-vid-h-desk * 0.8); // 252px
  // width: 448px;
  // height: 252px;
  // }

  // @include respond(tab-land) {
  // width: calc($hero-vid-w-desk * 0.8); // 448px
  // height: calc($hero-vid-h-desk * 0.8); // 252px
  // width: 448px;
  // height: 252px;
  // }

  // @include respond(tab-port) {
  // width: calc($hero-vid-w-desk * 0.6); // 336px
  // height: calc($hero-vid-h-desk * 0.6); // 189px
  // width: 336px;
  // height: 189px;
  // }

  // @include respond(phone) {
  // width: calc($hero-vid-w-desk * 0.4); // 224px
  // height: calc($hero-vid-h-desk * 0.4); // 126px
  // width: 224px;
  // height: 126px;
  // }
}

.hero-src {
  font-size: $default-font-size;
  margin-top: 20px;
}
