////// COLORS
//// DEFAULTS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;
// $primary-color: #7f449d;
// $secondary-color: #793fc1;

//// Adapted from webgradient.com - "077 Cold Evening" - background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
$primary-color: #0c3483;
$secondary-color: #6b8cce;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
// original $default-font-size: 1.6rem;
$default-font-size: 1.9rem;
$small-font-size: 1.7rem;
$mid-font-size: 2.2rem;
$big-font-size: 4rem;
