#navbar {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: $small-font-size;
  font-weight: bold;
  // position: absolute;
  position: relative;
  // top: 0;
  // left: 0;
  padding: 15px 40px; // 1.5rem 4rem 0 4rem
  margin: 0;
  z-index: 7;
}
#responsive-navbar-nav {
  justify-content: flex-end;
}
.navbar-wrap {
  justify-content: flex-end;
}
.nav-ctl {
  
}
// .logo-outer-wrap {
//   height: 50px;
//   align-self: flex-start;
//   text-align: left;
//   flex-grow: 5;
//   padding-top: 7px; // 0.5rem
//   margin: 0;

//   @media only screen and (max-width: 350px) {
//     display: none;
//   }
// }
// .logo-inner-wrap {
//   width: 50px;
//   margin: 0;
//   transition: all 0.2s ease-in;
//   &:hover {
//     cursor: pointer;
//   }
// }
#nav-dropdown-ctl {
  display: flex;
  align-items: center;
  color: $dark-blue-text !important;
  text-decoration: none;
  align-self: flex-end;
  padding: 8px 14px; // 1.5rem
  // margin-top: 15px; // 1.5rem
  transition: all 0.2s ease-in;
  flex-grow: 1;
  // from .color-main
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  &::after {
    color: $dark-blue-text !important;
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
    color: $dark-blue-text !important;
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
  @include respond(tab-land) {
    align-self: center !important;
  }
  @include respond(tab-port) {
    align-self: center !important;
  }
  @include respond(phone) {
    align-self: center !important;
  }
}
#nav-dropdown-item-ctl {
  font-size: $small-font-size;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  transition: all 0.2s ease-in;
  // from .color-main
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    cursor: pointer;
    transform: translateX(2px);
  }
  @include respond(tab-land) {
    align-self: center;
  }
  @include respond(tab-port) {
    align-self: center;
  }
  @include respond(phone) {
    align-self: center;
  }
}
#nav-toggler-ctl {
  display: flex;
  align-self: flex-end;
  @include respond(tab-land) {
    align-self: center;
  }
  @include respond(tab-port) {
    align-self: center;
  }
  @include respond(phone) {
    align-self: center;
  }
}
.nav-sec-link {
  // display: flex;
  // text-decoration: none;
  // justify-content: flex-end;
  // align-self: flex-end;
  padding: 8px 14px !important; // 1.5rem
  // margin-top: 15px; // 1.5rem
  transition: all 0.2s ease-in;
  // flex-grow: 1;
  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }
  @include respond(tab-land) {
    align-self: center;
  }
  @include respond(tab-port) {
    align-self: center;
  }
  @include respond(phone) {
    align-self: center;
  }
  @media only screen and (max-width: 350px) {
    align-self: center;
  }
}
