@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import './font-awesome.min.css';

body {
  font-family: 'Roboto', sans-serif;
}
.section {
  min-height: 92vh;
  height: fit-content;
}
// Nav
.container-my-nav {
  display: flex;
  flex-wrap: wrap;
}
.one, .two {
  flex-basis: 50%;
}
.two {
  text-align: right;
}
// end Nav
.bg-img {
  height: 100vh;
  width: 100%;
  content: '';
  /* background: url('./images/ewalter-3-2600.jpg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.3;
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  z-index: -1;
}
.bg-img-hero {
  background: url('../images/ewalter-3-2600.jpg');
}
.hero-vid {
  width: 560px;
  height: 315px;
}
@media only screen and (max-width: 1400px) {
  .hero-vid {
    width: 560px;
    height: 315px;
  }
}
@media only screen and (max-width: 1310px) {
  .hero-vid {
    width: 520px;
    height: 292px;
  }
}
@media only screen and (max-width: 1235px) {
  .hero-vid {
    width: 500px;
    height: 281px;
  }
}
@media only screen and (max-width: 1165px) {
  .hero-vid {
    width: 470px;
    height: 264px;
  }
}
@media only screen and (max-width: 1100px) {
  .hero-vid {
    width: 470px;
    height: 247px;
  }
}
@media only screen and (max-width: 575px) {
  .hero-vid {
    width: 400px;
    height: 225px;
  }
}
@media only screen and (max-width: 500px) {
  .hero-vid {
    width: 350px;
    height: 197px;
  }
}
@media only screen and (max-width: 450px) {
  .hero-vid {
    width: 300px;
    height: 167px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-vid {
    width: 250px;
    height: 141px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-vid {
    width: 225px;
    height: 127px;
  }
}
@media only screen and (max-width: 340px) {
  .hero-vid {
    width: 200px;
    height: 113px;
  }
}
.contact-ctl {
  max-width: 525px;
}
.bg-img-contact {
  background: url('../images/ewalter-4-2600.jpg');
}
.btn-b {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  background-image: linear-gradient(90deg, #0c3483 0%, #6b8cce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(90deg, #0c3483 0%, #6b8cce 100%);
  border-image-slice: 1;
}
.btn-b::after {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  background-image: linear-gradient(90deg, #0c3483 0%, #6b8cce 100%);
}
.btn-b:hover {
  -webkit-text-fill-color: white;
  text-decoration: none;
}
.btn-b:hover::after {
  width: 100%;
}
.social-32 {
  font-size: 32px;
}
