@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import './font-awesome.min.css';

* {
  font-family: 'Roboto', sans-serif;
}
section {
  min-height: 92vh;
  height: fit-content;
}
.nav-projs {
  font-size: 0.95rem;
}
#hero {
  display: block;
  position: relative;
}
#hero::after {
  content: '';
  background: url('../assets/images/ewalter-3-2600.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
}
#contact {
  display: block;
  position: relative;
}
#contact::after {
  height: 100%;
  content: '';
  background: url('../assets/images/ewalter-4-2600.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.contact-ctl {
  max-width: 525px;
}
@media only screen and (min-width: 1025px) {
  .btn-bg {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
    background-image: linear-gradient(135deg, #0c3483 0%, #6b8cce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(135deg, #0c3483 0%, #6b8cce 100%);
    border-image-slice: 1;
  }
  .btn-bg::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    background-image: linear-gradient(135deg, #0c3483 0%, #6b8cce 100%);
  }
  .btn-bg:hover {
    -webkit-text-fill-color: white;
    text-decoration: none;
  }
  .btn-bg:hover::after {
    width: 100%;
  }
  .btn-bgs {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    color: white;
    border: 2px solid white;
  }
  .btn-bgs::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    background: white;
  }
  .btn-bgs:hover {
    color: #275fcf;
    text-decoration: none;
  }
  .btn-bgs:hover::after {
    width: 100%;
  }
}
.social-32 {
  font-size: 32px;
}
.hero-vid {
  width: 560px;
  height: 315px;
}
@media only screen and (max-width: 1400px) {
  .hero-vid {
    width: 560px;
    height: 315px;
  }
}
@media only screen and (max-width: 1310px) {
  .hero-vid {
    width: 520px;
    height: 292px;
  }
}
@media only screen and (max-width: 1235px) {
  .hero-vid {
    width: 500px;
    height: 281px;
  }
}
@media only screen and (max-width: 1165px) {
  .hero-vid {
    width: 470px;
    height: 264px;
  }
}
@media only screen and (max-width: 1100px) {
  .hero-vid {
    width: 470px;
    height: 247px;
  }
}
@media only screen and (max-width: 575px) {
  .hero-vid {
    width: 400px;
    height: 225px;
  }
}
@media only screen and (max-width: 500px) {
  .hero-vid {
    width: 350px;
    height: 197px;
  }
}
@media only screen and (max-width: 450px) {
  .hero-vid {
    width: 300px;
    height: 167px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-vid {
    width: 250px;
    height: 141px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-vid {
    width: 225px;
    height: 127px;
  }
}
@media only screen and (max-width: 340px) {
  .hero-vid {
    width: 200px;
    height: 113px;
  }
}
.video-modal {
  height: 40vh;
}
@media only screen and (max-width: 1024px) {
  .video-modal {
    height: 60vh;
  }
}
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.video-padding {
  padding-top: 56.25%;
}
.fade-from-top {
  opacity: 0;
  transform: translateY(-50px); /* -25% */
  visibility: hidden;
  transition: opacity 600ms ease-out, transform 900ms ease-out,
    visibility 900ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-from-top.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.fade-from-right {
  opacity: 0;
  transform: translateX(50px);
  visibility: hidden;
  transition: opacity 600ms ease-out, transform 900ms ease-out,
    visibility 900ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-from-right.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
@media only screen and (max-width: 1024px) {
  .fade-from-right {
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
    transition: opacity 600ms ease-out, transform 900ms ease-out,
      visibility 900ms ease-out;
    will-change: opacity, transform, visibility;
  }
}
.fade-from-bottom {
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
  transition: opacity 600ms ease-out, transform 900ms ease-out,
    visibility 900ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-from-bottom.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.fade-from-left {
  opacity: 0;
  transform: translateX(-50px);
  visibility: hidden;
  transition: opacity 600ms ease-out, transform 900ms ease-out,
    visibility 900ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-from-left.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
@media only screen and (max-width: 1024px) {
  .fade-from-left {
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
    transition: opacity 600ms ease-out, transform 900ms ease-out,
      visibility 900ms ease-out;
    will-change: opacity, transform, visibility;
  }
}
